#Database
DATABASE_NAME=modified
DATABASE_USERNAME=modified
DATABASE_PASSWORD=modified
DATABASE_PORT=modified
DB_EXPORT=modified
DB_INPORT=modified
DB_IMAGE=modified
DB_CONTAINER=modified

#Application
APP_EXPORT=modified
APP_INPORT=modified
WEB_IMAGE=modified
WEB_CONTAINER=modified

#UserDemo
APP_DEMO_USERNAME=user_demo
APP_DEMO_PASSWORD=user_demo@example.com
APP_DEMO_EMAIL=demo@password