DATABASE_NAME=modifield
DATABASE_USERNAME=modifield
DATABASE_PASSWORD=modifield
DATABASE_PORT=modifield
DB_EXPORT=55432
DB_INPORT=5432
APP_EXPORT=8080
APP_INPORT=1337
DB_IMAGE=postgres:latest
DB_CONTAINER=my_db_compose
WEB_IMAGE=prawee/strapi:latest
WEB_CONTAINER=my_app_compose