DATABASE_NAME=modifield
DATABASE_USERNAME=modifield
DATABASE_PASSWORD=modifield
DATABASE_PORT=modifield
DB_EXPORT=modifield
DB_INPORT=modifield
APP_EXPORT=modifield
APP_INPORT=modifield
DB_IMAGE=modifield
DB_CONTAINER=modifield
WEB_IMAGE=modifield
WEB_CONTAINER=modifield